{% extends "!simple/article.html" %}
{% block htmlscope %} itemscope itemtype="http://schema.org/BlogPosting"{% endblock %}
{% block title %}{% if article.title %}{{ article.title | striptags }} &mdash; {% endif %}{{ SITENAME }}{% endblock %}
{% block head %}
{{ super() }}
{%- if article.image %}
        <meta itemprop="image" property="og:image" content="{{ article.image }}">
        <meta name="twitter:card" content="summary_large_image">
{% else %}
        <meta name="twitter:card" content="summary">
{% endif %}
        <meta property="og:locale" content="{{ article.lang | replace('-', '_') }}">
{% if article.translations %}{% for translation in article.translations %}
        <meta property="og:locale:alternate" content="{{ translation.lang | replace('-', '_') }}">
{% endfor %}{% endif %}
{% if article.title %}
        <meta itemprop="headline" property="og:title" content="{{ article.title | striptags }}" >
{% endif %}
{% if article.authors %}{% for author in article.authors %}
        <meta itemprop="author" name="author" property="og:author" content="{{ author }}" >
{% endfor %}{% endif %}
{% if article.description or article.summary %}
        <meta property="og:description" content="{{ article.description or (article.summary|striptags) }}" >
{% endif %}
{% if article.tags %}
        <meta name="keywords" property="og:tags" content="{{ article.tags | join(', ') }}" >
{% endif %}
        <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" >
{% endblock %}
{% block opengraph_type %}
        <meta property="og:type" content="article">
{% endblock %}
{% block content %}
{{ super() }}
<a href="https://twitter.com/intent/tweet?original_referer={{ SITEURL + '/' + article.url | urlencode }}&amp;ref_src=twsrc%5Etfw&text={{ title | striptags | urlencode }}&amp;tw_p=tweetbutton&amp;url={{ SITEURL + '/' + article.url | urlencode }}{% if TWITTER_USER %}&amp;via={{ TWITTER_USER }}{% endif %}" class="btn btn-xs btn-tweet" role="button">Tweet</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL + '/' + article.url | urlencode }}&amp;display=popup&amp;ref=plugin&amp;src=like" class="btn btn-xs btn-share" role="button">Share</a>

{% include "disqus.html" %}
{% endblock %}
